{{#> wrapper }}
  <div class="col-lg-12">

    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">{{title}}</h5>
      </div>
      <div class="card-body">
        <div class="py-3">
          <table id="order-table" class="table dt-responsive nowrap align-middle" style="width:100%">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Cliente</th>
                <th scope="col">Status</th>
                <th scope="col">Preço</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Pedido</th>
                <th scope="col">Data</th>
                <th scope="col"><i class="bi bi-tools"></i></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

{{/wrapper}}

{{#> simple-modal id="modalEdit" title="Editar Pedido" onSave="updateOrder(this)"}}
  <div class="col-6 form-group mb-2">
    <label>Sabores</label>
    <select class="form-select" name="pizzaFlavorsIds" onchange="calculateOrderPrice(this, 'pizzaFlavorsIds', '#modalEdit')" multiple required>
      <option value="">Selecione</option>
      {{#each pizzaFlavors}}
        <option value="{{id}}" data-price="{{price}}">{{flavor}}</option>
      {{/each}}
    </select>
  </div>
  <div class="col-6 form-group mb-2">
    <label>Coberturas</label>
    <select class="form-select" name="pizzaToppingsIds" onchange="calculateOrderPrice(this, 'pizzaToppingsIds', '#modalEdit')" multiple>
      <option value="">Selecione</option>
      {{#each pizzaToppings}}
        <option value="{{id}}" data-price="{{price}}">{{topping}}</option>
      {{/each}}
    </select>
  </div>
  <div class="col-6 form-group mb-2">
    <label>Tamanho</label>
    <select class="form-select" name="size" onchange="calculateSizePrice(this, '#modalEdit')" required>
      {{#each pizzaSizes}}
        <option value="{{id}}" data-price="{{price}}">{{size}}</option>
      {{/each}}
    </select>
  </div>
  <div class="col-6 form-group mb-2">
    <label>Preço</label>
    <input type="text" class="form-control" name="price" value="0,00" required disabled>
  </div>
{{/simple-modal}}

{{#> simple-modal id="modalEditStatus" title="Editar Status do Pedido"}}
  <div style="display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;">
    {{#each orderStatus}}
      <div
        class="btn btn-group-vertical
        {{#if (isEqual status 0)}}btn-secondary{{/if}}
        {{#if (isEqual status 1)}}btn-warning{{/if}}
        {{#if (isEqual status 2)}}btn-danger{{/if}}
        {{#if (isEqual status 3)}}btn-success{{/if}}
        p-3 order-status-btn"
        data-status="{{status}}"
        onclick="updateOrderStatus(this, {{status}})">
        <h1 class="bi bi-list-ol mx-auto"></h1>
        <span class="small fw-semibold lh-1">{{label}}</span>
      </div>
    {{/each}}
  </div>
{{/simple-modal}}

{{#> simple-modal id="modalOrderPizzas" title="Ver Pedido de <span></span>" lg=true}}
  <div id="order-pizza-list" style="display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;">
  </div>
{{/simple-modal}}

<script>
  const OrderTable = new DataTable('#order-table', {
    paging: true,
    autoWidth: true,
    searching: true,
    pageLength: 25,
    language,
    columns: [
      { data: '#', width: '7%', className: 'text-center' },
      { data: 'client.name', width: '12%' },
      { data: 'status', width: '12%', className: 'text-center' },
      { data: 'price', width: '10%', className: 'text-center' },
      { data: 'ammount', width: '7%', className: 'text-center' },
      { data: 'order', width: '10%', className: 'text-center' },
      { data: 'updated_at', width: '10%', className: 'text-center' },
      { data: 'actions', width: '8%', orderable: false, className: 'text-center' },
    ],
    ajax: {
      url: '{{defaultPath}}/api/orders',
      dataSrc: '',
    },
  });

  const modalEdit = new bootstrap.Modal('#modalEdit');
  const modalEditStatus = new bootstrap.Modal('#modalEditStatus');
  const modalOrderPizzas = new bootstrap.Modal('#modalOrderPizzas');

  function calculateOrderPrice(select, type, selector) {
    const { selectedOptions } = select;
    const optionsPrice = Array.from(selectedOptions).map((option) => Number(option.dataset.price ?? 0));
    const price = optionsPrice.reduce((acc, crr) => acc + crr, 0);
    const priceInput = document.querySelector(`${selector} [name="price"]`);

    priceInput.dataset[type] = price;
    const totalPrice = Object.values(priceInput.dataset).reduce((acc, crr) => acc + Number(crr), 0);
    priceInput.value = new Intl.NumberFormat('pt-BR', {
      style: 'currency',
      currency: 'BRL',
    }).format(totalPrice).replace('R$ ', '');
  }

  function calculateSizePrice(select, selector) {
    const { selectedOptions } = select;
    const { price } = selectedOptions[0].dataset;
    const priceInput = document.querySelector(`${selector} [name="price"]`);

    priceInput.dataset.size = price;
    const totalPrice = Object.values(priceInput.dataset).reduce((acc, crr) => acc + Number(crr), 0);
    priceInput.value = new Intl.NumberFormat('pt-BR', {
      style: 'currency',
      currency: 'BRL',
    }).format(totalPrice).replace('R$ ', '');
  }

  const requestUpdateOrder = new ApiRequest(null, 'PUT', '#modalEdit', '{{token}}');

  function editOrder(id) {

    const requestDataOrder = new ApiRequest(`{{defaultPath}}/api/order/${id}`, 'GET', '#modalEdit', '{{token}}');

    requestDataOrder.onSuccess((response) => {

      Array.from(requestDataOrder.getField('pizzaFlavorsIds')).forEach((option) => {
        option.selected = response.orderPizzaFlavor.filter((item) => item.flavor_id == option.value).length;
      });

      Array.from(requestDataOrder.getField('pizzaToppingsIds')).forEach((option) => {
        option.selected = response.orderPizzaTopping.filter((item) => item.topping_id == option.value).length;
      });

      requestDataOrder.setFields({
        size: response.size,
        price: new Intl.NumberFormat('pt-BR', {
          style: 'currency',
          currency: 'BRL',
        }).format(response.price).replace('R$ ', ''),
      });

      requestDataOrder.getField('price').dataset.size = requestDataOrder.getField('size').selectedOptions[0].dataset.price;
      requestDataOrder.getField('price').dataset.pizzaFlavorsIds = response.orderPizzaFlavor.map((item) => item.flavor.price).reduce((acc, crr) => acc + crr, 0);
      requestDataOrder.getField('price').dataset.pizzaToppingsIds = response.orderPizzaTopping.map((item) => item.topping.price).reduce((acc, crr) => acc + crr, 0);

      requestUpdateOrder.setUrl(`{{defaultPath}}/api/order/${id}`);
      
      modalEdit.show();
    });

    requestDataOrder.onError((response) => {
      Notification(response.error, 'danger');
    });

    requestDataOrder.send();
  }

  function updateOrder(button) {

    if(!requestUpdateOrder.validate()) return;

    requestUpdateOrder.setButton(button);

    requestUpdateOrder.setBody({
      size: Number(requestUpdateOrder.getField('size').value),
      price: Object.values(requestUpdateOrder.getField('price').dataset).reduce((acc, crr) => acc + Number(crr), 0),
      pizzaFlavorsIds: Array.from(requestUpdateOrder.getField('pizzaFlavorsIds').selectedOptions).map((option) => option.value).filter((id) => id),
      pizzaToppingsIds: Array.from(requestUpdateOrder.getField('pizzaToppingsIds').selectedOptions).map((option) => option.value).filter((id) => id),
    });

    requestUpdateOrder.onSuccess((response) => {
      Notification('Pedido alterado!');
      OrderTable.ajax.reload();
      modalEdit.hide();
    });

    requestUpdateOrder.onError((response) => {
      Notification(response.error, 'danger');
    });

    requestUpdateOrder.send();
  }

  function deleteOrder(id) {
    CustomAlert(() => {
      const requestDeleteOrder = new ApiRequest(`{{defaultPath}}/api/order/${id}`, 'DELETE', '{{token}}');

      requestDeleteOrder.onSuccess((response) => {
        OrderTable.ajax.reload();
      });

      requestDeleteOrder.onError((response) => {
        Notification(response.error, 'danger');
      });

      requestDeleteOrder.send();
    });
  }

  const requestUpdateOrderStatus = new ApiRequest(null, 'PATCH', '#modalEditStatus', '{{token}}');

  function editOrderStatus(id, status) {

    Array.from(document.querySelectorAll('#modalEditStatus .order-status-btn')).forEach((item) => item.classList.toggle('disabled', item.dataset.status <= status));

    requestUpdateOrderStatus.setUrl(`{{defaultPath}}/api/order/${id}`);

    modalEditStatus.show();
  }

  function updateOrderStatus(button, status) {

    requestUpdateOrderStatus.setButton(button);

    requestUpdateOrderStatus.setBody({ status });

    requestUpdateOrderStatus.onSuccess((response) => {
      OrderTable.ajax.reload();
      modalEditStatus.hide();
    });

    requestUpdateOrderStatus.onError((response) => {
      Notification(response.error, 'danger');
    });

    requestUpdateOrderStatus.send();
  }

  function getOrderPizzas(id) {

    const requestDataOrderPizzas = new ApiRequest(`{{defaultPath}}/api/order-pizzas/${id}`, 'GET', '', '{{token}}');

    requestDataOrderPizzas.onSuccess((response) => {
      const ordersPizzaList = getEl('#order-pizza-list');
      ordersPizzaList.innerHTML = '';

      response.forEach((item, index) => {
        ordersPizzaList.innerHTML += `<div class="card mb-2 order-pizza-card">
          <div class="card-header">
            <div class="row">
              <div class="col-8 text-start fw-semibold text-dark">${item.ammount} pizza${item.ammount > 1 ? 's' : ''} ${item.size.size}${item.ammount > 1 ? 's' : ''}</div>
              <div class="col-4 text-end fw-bold text-success">${item.price}</div>
            </div>
          </div>
          <div class="card-body pt-3">
            <div class="row">
              <div class="col-6">
                <label class="fw-semibold">Sabores</label>
                <ul>
                  ${item.orderPizzaFlavor.length
                    ? item.orderPizzaFlavor.map((flavor) => `<li>${flavor.flavor.flavor}</li>`).join('')
                    : 'Nenhum'
                  }
                </ul>
              </div>
              <div class="col-6">
                <label class="fw-semibold">Coberturas</label>
                <ul>
                  ${item.orderPizzaTopping.length
                    ? item.orderPizzaTopping.map((topping) => `<li>${topping.topping.topping}</li>`).join('')
                    : 'Nenhuma'
                  }
                </ul>
              </div>
            </div>
            <div class="row">
              {{#each orderStatus as |item index|}}
                <div class="btn d-flex justify-content-center align-items-center order-status-btn ${(item.status + 1) != {{index}} ? 'd-none' : ''}
                  {{#if (isEqual status 0)}}btn-secondary{{/if}}
                  {{#if (isEqual status 1)}}btn-warning{{/if}}
                  {{#if (isEqual status 2)}}btn-danger{{/if}}
                  {{#if (isEqual status 3)}}btn-success{{/if}}"
                  data-status="{{status}}"
                  onclick="updateOrderPizzaStatus(this, {{status}}, '${item.id}', '${item.order_id}')">
                  <i class="bi bi-list-ol me-1 m-0"></i>
                  <span class="fw-medium">{{label}}</span>
                </div>
              {{/each}}
              <div class="btn d-flex justify-content-center align-items-center btn-dark text-light disabled ${(item.status) != 3 ? 'd-none' : ''}"
                data-status="{{status}}"
                onclick="updateOrderPizzaStatus(this, {{status}}, '${item.id}', '${item.order_id}')">
                <i class="bi bi-check-circle me-1 m-0"></i>
                <span class="fw-medium">Finalizado</span>
              </div>
            </div>
          </div>
        </div>`;
      });

      getEl('#modalOrderPizzas .modal-title span').innerHTML = response?.at(0)?.order?.client?.name ?? '';

      modalOrderPizzas.show();
    });

    requestDataOrderPizzas.onError((response) => {
      Notification(response.error, 'danger');
    });

    requestDataOrderPizzas.send();
  }

  function updateOrderPizzaStatus(button, status, id, order_id) {

    const requestUpdateOrderPizzasStatus = new ApiRequest(`{{defaultPath}}/api/order-pizzas/${id}`, 'PATCH', '#modalOrderPizzas', '{{token}}');

    requestUpdateOrderPizzasStatus.setButton(button);

    requestUpdateOrderPizzasStatus.setBody({ status, id });

    requestUpdateOrderPizzasStatus.onSuccess((response) => {
      getOrderPizzas(order_id);
    });

    requestUpdateOrderPizzasStatus.onError((response) => {
      Notification(response.error, 'danger');
    });

    requestUpdateOrderPizzasStatus.send();
  }

</script>