{{#> wrapper}}
  <div class="col-lg-12">

    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">{{title}}</h5>
        <a class="btn btn-primary h-min" onclick="modalAdd.show()">Novo Sabor</a>
      </div>
      <div class="card-body">
        <div class="py-3">
          <table id="pizza-flavor-table" class="table dt-responsive nowrap align-middle" style="width:100%">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Sabor</th>
                <th scope="col">Preço</th>
                <th scope="col"><i class="bi bi-tools"></i></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
{{/wrapper}}

{{#> simple-modal id="modalAdd" title="Novo Sabor" onSave="createFlavor(this)"}}
  <div class="col-7 form-group">
    <label>Sabor</label>
    <input type="text" class="form-control" name="flavor" required>
  </div>
  <div class="col-5 form-group">
    <label>Preço</label>
    <input type="text" class="form-control" name="price" placeholder="0,00" required>
  </div>
{{/simple-modal}}

{{#> simple-modal id="modalEdit" title="Editar Sabor" onSave="updateFlavor(this)"}}
  <div class="col-7 form-group">
    <label>Sabor</label>
    <input type="text" class="form-control" name="flavor" required>
  </div>
  <div class="col-5 form-group">
    <label>Preço</label>
    <input type="text" class="form-control" name="price" placeholder="0,00" required>
  </div>
{{/simple-modal}}

<script>
  const pizzaFlavorTable = new DataTable('#pizza-flavor-table', {
    paging: true,
    autoWidth: true,
    searching: true,
    pageLength: 25,
    language,
    columns: [
      { data: '#', width: '10%', className: 'text-center' },
      { data: 'flavor', width: '50%' },
      { data: 'price', width: '30%' },
      { data: 'actions', width: '10%', orderable: false, className: 'text-center' },
    ],
    ajax: {
      url: '{{defaultPath}}/api/pizza-flavors',
      dataSrc: '',
    },
  });

  CurrencyMask('#modalAdd [name="price"]');
  CurrencyMask('#modalEdit [name="price"]');

  const modalAdd = new bootstrap.Modal('#modalAdd');
  const modalEdit = new bootstrap.Modal('#modalEdit');

  function createFlavor(button) {

    const requestCreateFlavor = new ApiRequest('{{defaultPath}}/api/pizza-flavors', 'POST', '#modalAdd', '{{token}}');

    if(!requestCreateFlavor.validate()) return;

    requestCreateFlavor.setButton(button);

    requestCreateFlavor.setBody({
      flavor: requestCreateFlavor.getField('flavor').value,
      price: Number(requestCreateFlavor.getField('price').value.replace(',', '.')),
    });

    requestCreateFlavor.onSuccess((response) => {
      Notification('Sabor adicionado!');
      pizzaFlavorTable.ajax.reload();
      modalAdd.hide();
      requestCreateFlavor.clearFields();
    });

    requestCreateFlavor.onError((response) => {
      Notification(response.error, 'danger');
    });

    requestCreateFlavor.send();
  }

  const requestUpdateFlavor = new ApiRequest(null, 'PUT', '#modalEdit', '{{token}}');

  function editFlavor(id) {

    const requestDataFlavor = new ApiRequest(`{{defaultPath}}/api/pizza-flavor/${id}`, 'GET', '#modalEdit', '{{token}}');

    requestDataFlavor.onSuccess((response) => {

      requestDataFlavor.setFields({
        flavor: response.flavor,
        price: response.price,
      });

      requestUpdateFlavor.setUrl(`{{defaultPath}}/api/pizza-flavor/${id}`);
      
      modalEdit.show();
    });

    requestDataFlavor.onError((response) => {
      Notification(response.error, 'danger');
    });

    requestDataFlavor.send();
  }

  function updateFlavor(button) {

    if(!requestUpdateFlavor.validate()) return;

    requestUpdateFlavor.setButton(button);

    requestUpdateFlavor.setBody({
      flavor: requestUpdateFlavor.getField('flavor').value,
      price: Number(requestUpdateFlavor.getField('price').value.replace(',', '.')),
    });

    requestUpdateFlavor.onSuccess((response) => {
      Notification('Sabor alterado!');
      pizzaFlavorTable.ajax.reload();
      modalEdit.hide();
    });

    requestUpdateFlavor.onError((response) => {
      Notification(response.error, 'danger');
    });

    requestUpdateFlavor.send();
  }

  function deleteFlavor(id) {
    CustomAlert(() => {
      const requestDeleteFlavor = new ApiRequest(`{{defaultPath}}/api/pizza-flavor/${id}`, 'DELETE', '{{token}}');

      requestDeleteFlavor.onSuccess((response) => {
        pizzaFlavorTable.ajax.reload();
      });

      requestDeleteFlavor.onError((response) => {
        Notification(response.error, 'danger');
      });

      requestDeleteFlavor.send();
    });
  }
</script>